@import base/_variables
@import blocks/_button
@import blocks/_text
@import blocks/_promo
@import blocks/_sidepanel
@import blocks/_menu
@import blocks/_about
@import libs/_bootstrap-reboot.min.scss

.container
    max-width: 960px
    margin: 0 auto
    padding: 0 1rem